name: CI

permissions:
  contents: read
  actions: read

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths:
      - 'llm_memedescriber/**'
      - 'tests/**'
  pull_request:
    branches: [ main ]
    paths:
      - 'llm_memedescriber/**'
      - 'tests/**'

jobs:
  test:
    name: Test on Python ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
            - '3.14'

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install pipenv
        run: python -m pip install --upgrade pip pipenv

      - name: Install dependencies (pipenv)
        run: pipenv install --dev --deploy --ignore-pipfile
        env:
          PIPENV_VENV_IN_PROJECT: 1

      - name: Run tests (pytest)
        run: pipenv run pytest -q --junitxml=pytest-report.xml --html=pytest-report.html --self-contained-html
        env:
          PIPENV_VENV_IN_PROJECT: 1

      - name: Upload pytest junit report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: pytest-junit-report
          path: pytest-report.xml

      - name: Upload pytest html report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: pytest-html-report
          path: pytest-report.html